.receivedMsg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  border-radius: 3px;
  width: 92%;
  background: var(--bs-green) none repeat scroll 0 0;
  margin: 13px 0 13px;
}

.receivedMsgContent {
  color: var(--bs-yellow);
}

.receivedWithdMsg {
  width: 97%;
}